@font-face{
	src:url(../fonts/OpenSans-Regular.ttf);
	font-family:open sans;
}
@font-face{
	src:url(../fonts/Roboto-Regular.ttf);
	font-family:roboto;
}
@font-face{
	src:url(../fonts/Roboto-Thin.ttf);
	font-family:roboto thin;
}
@font-face{
	src:url(../fonts/OpenSans-Light.ttf);
	font-family:open-light;
}
.container{
	width:1190px;
	margin:0 auto;
}
a{
	text-decoration:none;
}
header{
	background-color:white;
	opacity:0.7;
	height:75px;
	width:100%;
	float:left;
	position:fixed;
	z-index:1000;
}
header.sticky {
  font-size: 14px;
  line-height:14px;
  height: 75px;
  background: #fff;
  opacity:1;
  float: left;
  z-index:1000;
}
.sticky img{
	float:left;
	margin:18px 0 6px 90px;
}
.nav{
	float:right;
}
.nav li{
	float:left;
	display:block;
	position:relative;
	z-index:91000;
}
.nav li.alert{
	margin-right:50px;
}
.nav li a{
	font-family:roboto;
	font-size: 14px;
  	line-height:60px;
	display:block;
	color:#ccd1d3;
	text-align:center;
	padding:0 22px;
}
.nav ul li{
	border-bottom:1px solid #ccc;

}
.nav ul li:last-child{
	border:none;
}
.nav ul{
	background-color:white;
	position:absolute;
	border-radius:0 0 4px 4px;
	display:none;
}
.nav ul li > ul{
	margin:-61px 0px 0px 110px;
}
.nav li:hover > ul{
	display:block;
	visibility:visible;
}
.nav li.sky a,.nav ul li a:hover,.nav li a:hover{
	transition:all.9s ease;
	color:#60baa9;
	border-bottom:#60baa9;
}
.slider{
	background-image:url(../img/com-slider.jpg);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	padding:28% 0;
	background-attachment:fixed;
}
.slider-txt{
	text-align:center;
	color:white;
}
.slider-txt h1{
	font-size:60px;
}
.slider-txt p{
	margin-top:10px;
	font-size:16px;
	font-family:roboto;
}
.banner{
	text-align:center;
	background-color:#2e2e2e;
	padding-top:42px;
	padding-bottom:15px;
}
.area-top{
	text-align:center;
}
.area-top h1{
	padding-top:55px;
	font-family:roboto thin;
	font-size:50px;
	color:#463255;
}
.area-top p{
	font-family:open sans;
	font-size:16px;
	margin-top:15px;
	color:#a1b1bc;
}
.circule-1{
	width:270px;
	float:left;
	margin-top:45px;
	margin-right:36px;
	text-align:center;
}
.circule-1:last-child{
	margin-right:0;
}
.circule-1 h1{
	margin-top:45px;
	font-size:21px;
	color:#1abc9c;
	font-family:roboto;
}
.bdr{
	width:53px;
	margin:0 auto;
	border-bottom:1px solid #c6c6c6;
	margin-top:35px;
	margin-bottom:17px;
}
.circule-1 p{
	font-size:14px;
	color:#a1b1bc;
	font-family:open sans;
	line-height:20px;
	margin-bottom:38px;
}
.main-bdr{
	border-bottom:1px solid #e6e6e6;
}
.green h1{
	color:#66cc99;
}
.font{
	width:370px;
	float:left;
	margin-top:45px;
	margin-right:30px;
}
.font:last-child{
	margin-right:0;
}
.font ul li{
	border:1px solid #dedede;
	padding:20px;
	margin-bottom:35px;
}
.font ul li a i{
	vertical-align:middle;
	margin-right:16px;
	color:#a32525;
}
.font ul li a{
	font-family:roboto;
	font-weight:bold;
	color:#999999;
	font-size:14px;
}
.font ul li a:hover i,.font ul li a:hover{
	color:#64cb98;
}
.font ul li:hover{
	border-color:#64cb98;
}
.bg-color{
	background-color:#2e2e2e;
	padding-top:48px;
	padding-bottom:52px;
}
.our-team{
	text-align:center;
	color:white;
	font-family:roboto thin;
	font-size:30px;
}
.black h1{
	color:#000000;
}
.more{
	text-align:center;
}
.more p{
	font-family:open sans;
	font-size:13.5px;
	line-height:20px;
	margin-top:32px;
	color:#acacac;
}
.more a{
	margin-top:40px;
	display:inline-block;
	height:48px;
	line-height:48px;
	border:1px solid #5e5e5e;
	border-radius:5px;
	width:170px;
	font-family:open sans;
	font-size:16px;
	color:#5e5e5e;
	margin-bottom:90px;
}
.more a:hover{
	background-color:#0CF;
	color:white;
	box-shadow:inset 0 0 21px #FFF;
	transition:all.9s ease;
}
.images ul li{
	float:left;
	margin:50px 93px;
}
.mobile-img{
	margin:35px 0;
}
.mobile-img img{
	width:100%;
}
.corner{
	margin-top:55px;
	text-align:center;
	display:block;
}
.corner img{
	vertical-align:top;
	margin-bottom:55px;
}
.content{
	display:inline-block;
	text-align:left;
}
.content h1{
	color:#a21233;
	font-family:roboto;
	font-weight:bold;
	font-size:16px;
	margin-bottom:13px;
}
.content p{
	font-family:open sans;
	color:#010101;
	font-size:13px;
	line-height:20px;
	margin-bottom:10px;
}
.red{
	background-color:#d34141;
	padding-top:45px;
	padding-bottom:20px;
	margin-top:35px;
}
.social{
	text-align:center;
}
.social h1{
	color:white;
	font-family:roboto thin;
	font-size:40px;
	margin-bottom:40px;
}
.social a{
	width:170px;
	display:inline-block;
	height:50px;
	line-height:50px;
	border:1px solid #3c5b9c;
	color:white;
	border-radius:5px;
	background-color:#3c5b9c;
	font-size:16px;
	font-family:roboto;
	margin-right:3px;
}
.social a i{
	margin-right:8px;
}
.social a.blue{
	background-color:#55aded;
	border-color:#55aded;
}
.white{
	background-color:#222533;
	padding:40px 0;
}
.foot-txt{
	margin-left:215px;
}
.foot-txt a{
	font-family:open sans;
	font-size:15px;
	color:#a1b1bc;
	float:left;
}
.foot-txt a span{
	color:#dd3333;
}
.foot-txt ul{
	float:right;
}
.foot-txt ul li{
	float:left;
	margin-left:20px;
}
.foot-txt ul li a.facebook:hover{
	color:#3c5b9c;
}
.foot-txt ul li a.twitter:hover{
	color:#55aded;
}
.foot-txt ul li a.google:hover{
	color:#F00;
}
.foot-txt ul li a.linkedin:hover{
	color:#06F;
}
.foot-txt ul li a{
	transition:all.9s ease;
}